body {
  background: rgba(255, 240, 59, 0.19); }

h1 {
  text-align: center;
  padding: 50px; }

.piao {
  background: black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 20px #F44336, 0 0 0 30px #ec3527; }
  .piao:after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 50%; }

.ring {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  height: 265px;
  width: 265px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: y-spin 5s linear infinite; }

.face {
  border: 0 solid white;
  position: absolute;
  width: 260px;
  height: 260px;
  left: 0;
  right: 0;
  margin: auto;
  border: 5px solid #fff; }
  .face.face-1 {
    transform: rotateY(0deg) translateZ(370px); }
  .face.face-2 {
    transform: rotateY(40deg) translateZ(370px); }
  .face.face-3 {
    transform: rotateY(80deg) translateZ(370px); }
  .face.face-4 {
    transform: rotateY(120deg) translateZ(370px); }
  .face.face-5 {
    transform: rotateY(160deg) translateZ(370px); }
  .face.face-6 {
    transform: rotateY(200deg) translateZ(370px); }
  .face.face-7 {
    transform: rotateY(240deg) translateZ(370px); }
  .face.face-8 {
    transform: rotateY(280deg) translateZ(370px); }
  .face.face-9 {
    transform: rotateY(320deg) translateZ(370px); }
  .face img {
    width: 260px;
    height: 260px;
    object-fit: cover; }

@keyframes y-spin {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
